<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<html>
<head>
    <title>Feature Requests</title>
    <h2>Feature Requests</h2>
    <a href="/">Request New Feature</a>
</head>
<body>

<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Client</th>
        <th>Client Priority</th>
        <th>Target Date</th>
        <th>Product Area</th>
    </tr>
    {% for feature in result %}
        <tr>
            <td> {{ feature.title }} </td>
            <td> {{ feature.description }} </td>
            <td> {{ feature.client }} </td>
            <td> {{ feature.client_priority }} </td>
            <td> {{ feature.target_date }} </td>
            <td> {{ feature.product_area }} </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>